.centered {
    margin: 0 auto;

    width:70%;
}


body,
button,
textarea {
    color:darkslategrey;
    font-family: arial, sans-serif;

}

.menu ul {
    list-style-type: none;
    background: hsla(20, 0%, 15%, 0.75);
    padding:0;
    margin:0;


}

.menu-section{
    padding-bottom:2em;
    margin-bottom:2em;
    border-bottom:1px solid hsl(0, 0%);
    
}

.menu li a {
    display: block;
    color:blue;
    padding: .6em 1em;
    text-decoration: none;
      /*  width: 100%; 00 Fjernet etter undervisning*/ 
    

}

.menu li a:hover{
    background: hsl(0, 0%, 15%);
}

.single-nav ul li{
    flex: 1 0 auto;
    text-align:center; 

}




@media all and (min-width:30em){
    .single-nav ul{
        display:flex;
        justify-content: center;
        justify-content: flex-end;
        justify-content: flex-start;
        justify-content: space-around;
        justify-content: space-between;
        flex-wrap:wrap;
        

    }
}


/* Dette har jeg lagt til tirsdag 27 oktober  */


body{
    background: hsl(0, 0%, 90%);
}


.card {
    background:grey;
    margin-bottom: 2em;
}


.card a {
    color:black;
    text-decoration: none;
}

.card-content{
    padding: 1.4em;
}
    

.card-content h2 {
    margin-top:0;
    margin-bottom: .5em;
    font-weight: normal;
}


img {
    display:block;
    border:0;
    width:100%;
    height:auto;
}

figure{
    margin:0;
}




/* Her kommer endelig flexbox for kortene og gjør siden noe responsiv :D */

@media all and (min-width:60em) {
    

.cards {
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.card{
    flex: 0 1 calc(33% - 1em);
}
}

/* satt inn etter undervisning */
.card:hover{
  
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.52);
}
